* {
    position: relative;
}

h1 {
    text-align: center;
    color: white;
    font-family: poppins;
}

.square {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 370px 370px;
    grid-gap: 29px;
}

.landscape {
    display: grid;
    grid-gap: 29px;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 270px 270px;
}

.landscape .container:nth-child(3) {
    grid-column: 3 / 5;
}

.landscape .container:nth-child(4) {
    grid-column: 1 / 3;
}

.container {
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

dialog {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: 100px;
    width: 200px;
    position: absolute;
    bottom: 400px;
}

.dialog {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 20px;

}

button {
    background: none;
    border: none;
}

.option {
    font-size: medium;

}

.exit {
    font-size: small;
    justify-content: flex-end;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}