@font-face {
    font-family: 'Poppins';
    src: url('../assets/Poppins/Poppins-Regular.ttf') format(' truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Poppins';
}

h2 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}